<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
<h1>Weather Data API</h1>
<h3>one station, one date</h3>
<p>URL format: http://127.0.0.1:5000/api/v1/[station]/[date]</p>
<p>URL Example: http://127.0.0.1:5000/api/v1/10/19881025</p>
<h3>one station, all dates</h3>
<p>URL format: http://127.0.0.1:5000/api/v1/[station]</p>
<p>URL Example: http://127.0.0.1:5000/api/v1/10</p>
<h3>one station, one year</h3>
<p>URL format: http://127.0.0.1:5000/api/v1/yearly/[station]/[year]</p>
<p>URL Example: http://127.0.0.1:5000/api/v1/yearly/10/1988</p>
<p></p>
<p>{{data|safe}}</p>
</body>
</html>